@font-face {
    font-family: helldorado;
    src: url(../fonts/helldorado.ttf);}

@font-face {
    font-family: cowboys;
    src: url(../fonts/cowboys.ttf);}

@font-face {
    font-family: nashville;
    src: url(../fonts/nashville.ttf);}
    
@font-face {
    font-family: rustler;
    src: url(../fonts/rustler.ttf);}

  